<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Почетна страница за вработен</title>
</head>
<body>
<form action="/employeeHome/new_user" method="get">
    <input type="submit" name="newuser" value="Нов корисник">
</form>
<form action="/employeeHome/new_transaction" method="get">
    <input type="submit" name="new_transaction" value="Нова трансакција">
</form>


<br>
<br>
<br>
<br>
<form action="/employeeHome/logout" method="get">
    <input type="submit" value="Одјави се">
</form>

</body>
</html>